@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    list-style: none;
    padding: 0;
    text-decoration: none;
}

/* Desktop Styles */
/* Navbar */

    #nav-bar {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 2em 6em;
        width: 100%;
    }
    
    #nav-bar ul {
        display: flex;
        gap: 2em;
    }
    
    #nav-bar nav ul a {
        color: #242E52;
        font-weight: 500;
    }
    
    #nav-bar nav ul a:hover {
        color: #aaaebc;
    }
    
    .btn-purple {
        background-color: #8B48BF;
        border-radius: 50px;
        box-shadow: 0 4px 7px rgba(0, 0, 0, 25%);
        color: #FFFFFF;
        padding: 0.8em 3em;
        font-weight: 500;
    }
    
    /* Sección del banner */
    
    .banner-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5em;
        gap: 6em;
    }
    
    .img-sportman {
        width: 540px;
    }
    
    .banner-content {
        display: flex;
        align-items: end;
        flex-direction: column;
        gap: 2em;
    }
    
    .banner-content p {
        font-size: 17px;
        font-weight: 500;
        line-height: 26px;
        text-align: right;
    }
    
    h1 {
        color: #232C50;
        font-size: 50px;
        font-weight: 700;
        line-height: 57px;
        letter-spacing: -0.035em;
        text-align: right;
    }
    
/* What's different btw Pros */

.purple-section {
    background-color:#8b48bf;
    color:#FFFFFF;
    display: flex;
    padding: 2em 10em;
    align-items: center;
    justify-content: space-between;
}

#pros {
    gap: 2em;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
}

.right-text p {
    line-height: 24px;
    text-align: left;    
}
/* Sección sobre ventajas */
.advantages {
    background-color: #fafafa;
    padding: 3em 8em;
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.btn-th, .btn-mb, .btn-card {
    background-color: #8B48BF;
    color: #FFFFFF;
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    gap: 10px;
    font-weight: 500;
    border: none;
}

h4 {
    color: #323851;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: -0.015em;
    text-align: left;
}

.advantages p {
    color: #B3B2B7;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.01em;
    text-align: left;
}

.art-th {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    width: 450px;
}

/* Cards */
.cards-section {
    padding: 6em 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.cards-section h2 {
    color:#242E53;
    font-size: 39px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: -0.01em;
    text-align: center;
}

.cards-section article {
    background-color: #fafafa;
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-around;
    padding: 1em;

}

.cards-section article figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    position: relative;
}

.circle-img {
    margin-top: -50px;
}

.cards-section h3 {
    color: #3F4868;
    font-size: 16px;
}

.cards-section figure p {
    color:#B9B9C1;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}

/* Best team of the year */
.title {
    width: 393px;
}

.box-btn a {
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 25%);
    color: #8B48BF;
    padding: 0.8em 3em;
    font-weight: 500;
}
/* Footer styles */
footer {
    background-color:#1E1E26;
    padding: 100px;
}

footer .container {
    display: flex;
    /* gap: 4em; */
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .brand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4em;
}

footer nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
}

form {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
    
}

.copyright {
    display: flex;
    justify-content: flex-end;
}

footer a {
    color: #FFFFFF;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.copyright p {
    color: #8C8C94;
}

form input {
    background-color: #ffffff;
    padding: 10px 25px;
    border-radius: 100px; 
    outline: none;
    font-weight: bold;
}

#menu-responsive-btn {
    display: none;
}

#title-section {
    display: none;
}

/* Mobile styles */

@media (max-width: 600px) {
    #nav-bar {
        padding: 2em 1em;
    }

    #nav-bar nav, #nav-bar a {
        display: none;
    }

    #menu-responsive-btn {
        display: block;
        cursor: pointer;
    }
    
     /* Sección del banner */
    .banner-section {
        flex-direction: column;
        padding: 3em 1em;
        gap: 4em;
    }


    .img-sportman {
        width: 100%;
    }

    .logo {
        width: 108px;
    }

    /* What's the difference btw pros */
    .purple-section {
        background-color:#3cddf3;
        padding: 2em 3em;
        justify-content: center;
        flex-direction: column;
    }

    .right-text .left-text {
        width: 100%;
    }
    /* Sección sobre ventajas */
    .advantages {
        padding: 3em 0 3em 2em;
        justify-content: flex-end;
        gap: 2em;
    }
    /* Cards */
    #sanyo, #navarro {
        display: none;
    }

    .box-btn a {
        background-color: #232c50;
        color: #ffffff;
    }

    #title-section {
        border-radius: 30px 0 0 30px;
        display: flex;
        align-items: center;
        gap: 1em;
        background-color: #dcc8ec;
        margin-bottom: 2em;
    }

    .art-th {
        display: block;
    }
    .art-th .title, .btn-card {
        display: none;
    }
    /* Estilos del footer */
    footer {
        padding: 70px 35px;
    }

    footer nav {
        gap: 1em;
        justify-content: space-around;
        margin: 3em 0;
    }

    footer .icons {
        display: flex;
        gap: 3.5em;
    }


    footer .container, footer .brand {
        flex-direction: column-reverse;
        align-items: center;
    }

    .copyright {
        justify-content: center;
        margin-top: 4em;
    }

    form input {
        padding: 10px 46px;
    }

}